.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.menuItem {
  display: inline-block;
  margin-right: 20px;
}

.menuItem a {
  color: gray;
}
.menuContainer {
  border: solid 1px crimson;
  margin: 10px;
}
